.container {
    // Sizing and styling
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-size: 18px;
    list-style-position: inside;
    // Flexbox information
    display: flex;
    flex-flow: column wrap;
}

.project-information {
    // Sizing and styling
    padding-left: 20px;
    background-color: #364652;
    color: white;
    max-height: 15%;
    min-height: 15%;
    // Flexbox information
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-grow: 1;
}

.mock-ui-container {
    // Sizing and styling
    width: 100%;
    max-height: 85%;
    min-height: 85%;
    background-color: #E2E6D2;
    // Flexbox information
    display: flex;
    flex-grow: 6;
}

.mock-ui-controls {
    // Sizing and styling
    margin: 20px;
    padding: 10px;
    // Flexbox information
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.mock-ui-controls > * {
    // Sizing and styling
    margin-bottom: 10px;
}

.mock-ui-screen {
    // Sizing and styling
    margin: 20px;
    background-color: #363636;
    max-width: 75%;
    min-width: 75%;
    max-height: 95%;
    min-height: 95%;
    // Flexbox information
    display: flex;
    flex-grow: 4;
}

.mock-ui-video {
    // Sizing and styling
    margin: 20px;
    background-color: #000;
    color: white;
    // Flexbox information
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.mock-ui-instructions {
    // Sizing and styling
    margin: 20px;
    padding: 20px;
    margin-left: 0px;
    max-width: 60%;
    max-height: 90%;
    background-color: #BCC1BE;
    color: black;
    border-radius: 15px;
    // Flexbox information
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    flex-grow: 3;
}

.mock-ui-text {
    max-width: 95%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.mock-ui-control-container {
    background-color: #EB7256;
    height: 100%;
    min-width: 6%;
    user-select: none;
    border-radius: 10px;
    // Flexbox information 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mock-ui-control {
    // Styling information
    min-width: 100%;
    // Flexbox information 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;    
}

.mock-control-text {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    font-size: 20px;
}

.mock-ui-instructions-header {
    // Sizing and styling
    // Flexbox information
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.mock-ui-instructions-header > .title {
    // Sizing and styling
    font-size: 32px;
    margin-bottom: 10px;
}

.mock-ui-instructions-body {
    // Sizing and styling
    margin-top: 20px;
    max-height: 80%;
    // Flexbox information
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.mock-ui-instructions-body > p {
    // Sizing and styling
    max-width: 100%;
    word-break: break-word;
    // Flexbox information
    flex-grow: 7;
    display: flex;

}

.mock-ui-instructions-scale {
    min-width: 100%;
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
}

.weight-display {
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, #FF6961,#FDFD96,#C5FFB1);
    border: 2px solid #363636;
    width: 15rem;
    border-radius: 5px;
    min-width: 80%;
    margin-left: 10px;
}
.weight-display-alt {
    -webkit-appearance: none;
    appearance: none;
    background: grey;
    border: 2px solid #363636;
    width: 15rem;
    border-radius: 5px;
    min-width: 80%;
    margin-left: 10px;
}

.mock-ui-instructions-nav {
    // Sizing and styling
    margin-top: 0px;
    color: black;
    // Flexbox information
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.mock-ui-buttons {
    max-width: 50%;
    min-width: 50%;
    align-self: left;
    flex-grow: 1;
}

.mock-ui-select-recipe {
    max-width: 50%;
    min-width: 50%;
    align-self: right;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-styles {
    padding-right: 20px;
}

.scale-container {
    pointer-events: none;
    width: 100%;
    height: 100%;
    // Display information 
    position: absolute;
    display: float;
    overflow: hidden;
}


.scale-container > img {
    margin-top: calc(100vh - 300px);
}


.mock-ui-instructions-scale-container {
    display: flex;
    max-height: 20%;
    min-height: 20%;
    min-width: 6%;
    flex-direction: column;

    align-self: flex-end;
}

.mock-ui-instructions-body-text {
    min-height: 80%;
    max-height: 80%;
}

.project-information > p > a {
    color: #FFFFFF;
}